PGADMIN_DEFAULT_EMAIL=myadmin@example.com
PGADMIN_DEFAULT_PASSWORD=myadmin


POSTGRES_USER=admin
POSTGRES_DB=mybase
POSTGRES_PASSWORD=myadmin

DB_HOST=database
DB_USER=admin
DB_PORT=5432
DB_PASSWORD=myadmin
DB_NAME=mybase
SECRET_KEY=change-me-in-prod-12345